<ul style="margin-block: -1px;" data-combatant-id="{{master}}">
    {{#each minions}}
        <li class="combatant minion actor directory-item flexrow {{this.css}}" data-combatant-id="{{this.id}}">
            <img class="token-image" src="{{this.img}}" alt="{{this.name}}" />
            <div class="token-name flexcol">
                <h4>{{this.name}}</h4>
                <div class="combatant-controls flexrow">
                    {{#if this.canPing}}
                        <a
                            class="combatant-control"
                            aria-label="{{localize 'COMBAT.PingCombatant'}}"
                            role="button"
                            data-tooltip="COMBAT.PingCombatant"
                            data-control="pingCombatant"
                        >
                            <i class="fa-solid fa-bullseye-arrow"></i>
                        </a>
                    {{/if}}
                    <div class="token-effects">
                        {{#each this.effects}}
                            <img class="token-effect" src="{{this}}" />
                        {{/each}}
                    </div>
                </div>
            </div>

            {{#if this.hasResource}}
                <div class="token-resource">
                    <span class="resource">{{this.resource}}</span>
                </div>
            {{/if}}

            <div class="token-initiative">
                {{#if this.hasRolled}}
                    <span class="initiative">{{this.initiative}}</span>
                {{else if this.owner}}
                    <a
                        class="combatant-control roll"
                        aria-label="{{localize 'COMBAT.InitiativeRoll'}}"
                        role="button"
                        data-tooltip="COMBAT.InitiativeRoll"
                        data-control="rollInitiative"
                    ></a>
                {{/if}}
            </div>
        </li>
    {{/each}}
</ul>