<ul class="combatant-minions" data-master-uuid="{{master}}">
    {{#each minions as |minion|}}
        <li data-minion-uuid="{{minion.uuid}}" data-item-uuid="{{minion.item}}" class="minion-row">
            <div class="portrait-and-name">
                <img class="avatar portrait" src="{{minion.img}}" style="transform: scale(1)" />

                <div class="name-wrapper">
                    <h4 class="minion-name">{{minion.name}}</h4>
                    <span class="minion-type">{{minion.type}}</span>
                </div>
            </div>

            <div class="actions-wrapper">
                {{#if (eq minion.type "eidolon")}}
                    <a data-source-uuid="Compendium.pf2e.actionspf2e.Item.2KV87ponbWXgGIhZ" title="Act Together">
                        Act
                        <span class="action-glyph">1 - 3</span>
                    </a>
                {{else if (eq minion.type "sustained")}}
                    <a data-source-uuid="Compendium.pf2e.actionspf2e.Item.3f5DMFu8fPiqHpRg" title="Sustain">
                        Sustain
                        <span class="action-glyph">1</span>
                    </a>
                {{else}}
                    <a data-source-uuid="Compendium.pf2e.actionspf2e.Item.q9nbyIF0PEBqMtYe" title="Command">
                        Command
                        <span class="action-glyph">1</span>
                    </a>
                {{/if}}
            </div>
        </li>
    {{/each}}
</ul>